# Ignore configuration files that may contain sensitive information.
sites/*/settings.local.php

# Ignore paths that contain user-generated content.
files
sites/*/files
sites/*/private

# Ignore developer things.
.*.swp

