/*******************************************************************************
 * localize.css
 *
 * Contains customizations for the localize website.
 ******************************************************************************/

/* hide the demo button on small screens */

@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .menu-demo {
    display: none;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .menu-demo {
    display: none;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .menu-demo {
    display: flex;
  }
}
